@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  /* background-color: #343a40; */
  padding-top: 20px;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.content.sidebar-open {
  margin-left: 250px;
}

@media (min-width: 992px) {
  .sidebar {
    left: 0 !important; 
  }
  .content {
    margin-left: 250px;
  }
}

